<!DOCTYPE html>
<html>
    <head>
        <title>routes</title>
    </head>
    <body>
       <h1><%=title%></h1>
       
    <form action="/delete" method="post">
        <%items.forEach(function(item){ %>
            <div class="item-box">
                <input type="checkbox" name="cbox" value="<%=item._id%>" onChange="this.form.submit()">
                <p style="display: inline"><%=item.name%></p>
            </div>
           <%})%>
              <input type="hidden" name="titleName" value="<%=title%>"></input>
           
    </form>
       <form action="/add" method="post">
           <input type="text" name='nayaText' placeholder="type...">
           <button type="submit" name="title" value="<%=title%>" >Add</button>
       </form>
    </body>
</html>